Nota-1
Part-1/Defining_start_conditions_for_the_container/
Part-1/Interacting_with_the_container_via_volumes_and_ports/Exercise_1.10/Dockerfile
Part-1/Interacting_with_the_container_via_volumes_and_ports/Exercise_1.10/script.sh
Part-2/2.4-Volumes_in_action/exercise-2.10/backend_dockerfile/
Part-2/2.4-Volumes_in_action/exercise-2.10/frontend_dockerfile/
Part-2/2.4-Volumes_in_action/teste/
material-applications/
Part-3/3.2-Deployment_pipelines/exercise-3.3-Scripting_magic/express_app/
Part-3/3.2-Deployment_pipelines/exercise-3.3-Scripting_magic/tempCodeRunnerFile.sh

